footer{
    width: 100%;
    height: 100px;
    background-color: rgb(31, 34, 33);
    padding: 3% 0;
}

footer > .container{
    display: flex;
    justify-content: space-between;
}

footer h5{
    color: white;
    font-weight: 300;
    font-size: 15px;
}

@media screen and (max-width:768px){
    footer h5{
        padding-top: 10px;
    }
    footer > .container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}