section.sessao2{
    width: 100%;
    text-align: center;
    padding: 0 2%;
}

section.sessao2 > .container{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.sessao2 h3{
    padding: 40px 0;
    font-weight: 100;
    font-size: 24px;
}

section.sessao2 p{
    padding-bottom: 40px;
    font-size: 15px;
}

section.sessao2 img{
    margin-bottom: -5%;
    z-index: 2;
}