section.sessao3{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sobre-time1,.sobre-time2{
    width: 50%;
}

.sobre-time1{
    color: white;
    background-color: #835FA7;
    font-weight: 100;
    padding: 100px 7%;
}

.sobre-time1 h3{
    font-weight: 100;
    font-style: italic;
    font-size: 26px;
}
.sobre-time1 p{
    padding-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
}

.sobre-time2{
    background-color: rgb(255, 255, 255);
    padding: 100px 2%;
}

.sobre-time2 .profile{
    display: flex;
    flex-direction: row;
}
.sobre h4{
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 6px;
}
.sobre p{
    font-style: italic;
    color: rgb(131, 131, 131);
    font-size: 13px;
}
.profile img{
    height: 60px;
    margin-left: 10px;
}
.sobre-time2 > p{
    padding-top: 10px;
    font-weight: 400;
    font-size: 14px;
}
.sobre-time2 .slider-bullets{
    display: flex;
}
.sobre-time2 .slider-bullets > span{
    height: 16px;
    width: 16px;
    padding: 1px 1px;
    background-color: rgb(199, 199, 199);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 8px;
}

@media screen and (max-width: 768px){
    .sobre-time1,.sobre-time2{
        width: 100%;
        padding: 40px 4%;
    }
}